---
- name: Update OS Packages
  command: yum update -y
  
- name: Add EPEL Release Repositories
  yum: name=https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm state=present

- name: Add Unzip Tools
  yum: name=unzip state=present

- name: Download AppDynamics Machine Agent
  get_url:
    url: http://172.16.189.17/machineagent-bundle-64bit-linux-4.5.13.2238.zip
    dest: /tmp/machine-agent.zip
    mode: 0666

- name: Make AppDynamics Directory
  file: path=/opt/appdynamics/machine-agent state=directory

- name: Deploy AppDynamics Machine Agent
  unarchive:
    src: /tmp/machine-agent.zip
    dest: /opt/appdynamics/machine-agent
    remote_src: true

- name: Copy Configuration File
  template:
    src: controller-info.xml.j2
    dest: /opt/appdynamics/machine-agent/controller-info.xml
    mode: 0666

- name: Update Directory Permissions
  file: dest=/opt/appdynamics/machine-agent owner=root group=root recurse=yes

- name: Copy Machine Agent Service File
  template:
    src: machine-agent.service.j2
    dest: /etc/systemd/system/machine-agent.service
    mode: 0755

- name: Start and Enable Machine Agent Service
  service: name=machine-agent state=started enabled=yes