APPD_CONF_ACCOUNT_NAME='{{ php_agent['account_name'] }}'
APPD_CONF_ACCESS_KEY='{{ php_agent['account_access_key'] }}'
APPD_CONF_CONTROLLER_HOST='{{ php_agent['controller_host'] }}'
APPD_CONF_CONTROLLER_PORT='{{ php_agent['controller_port'] }}'
APPD_CONF_SSL_ENABLED='{{ php_agent['controller_ssl_enabled'] }}'
APPD_CONF_APP='{{ php_agent['application_name'] }}'
APPD_CONF_TIER='{{ ansible_hostname }}'
